body {

    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: #33084f; /* Replace #ff0000 with your desired color */            
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
   
    
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;

}



form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #d79bff;
    border-radius: 1em;
    background-color: #561581; /* Replace #ff0000 with your desired color */            
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;


}

label {
    margin-top: 1em;
    display: block;
    font-weight: bold;
    font-size: 1em;
    
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #420767;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #210632; 

}

input[type="submit"] {
    background-color: #210632;         
    color: #fff;
    border: none;
    margin-top: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;


}

input[type="submit"]:hover {
    background-color: #9129d2;          
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #e6c3ff;
    outline: none;
    border: 1px solid #9129d2;
    box-shadow: 0 0 5px 0 rgba(0, 149, 255, 0.2);
    

}

.error {
    color: #ff0000;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.5em;
}

.success {
    color: #0b90ee;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.5em;
}

